/*
-----------------------
Fix unsuitable css 
-----------------------
*/

.o_form_view .oe_title {
	width: unset !important;
}

/* fix long-arrow direction */
.fa-long-arrow-right::before {
    content: "\f177";
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header .ui-datepicker-next::before {
    font-family: FontAwesome;
    content: "\f060";
}

.fa-caret-right::before {
    content: "\f0d9";
    padding-left: 3px;
}


.fa-caret-down::before {
    content: "\f0d7";
    padding-left: 3px;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header .ui-datepicker-prev::after {
    font-family: FontAwesome;
    content: "\f061";
}
/* ---- dropdown more buttom menu ---------*/
.o_form_view .oe_button_box.o_full .o_dropdown_more {
	left: 0 !important;
	right: auto !important;
}

/*----- Pipeline ---------------------------*/
.o_kanban_counter > .o_kanban_counter_side {
	margin-right: 3% !important;
	color: #337ab7 !important;
	text-align: left !important;
	margin-left: unset !important;
}

.o_kanban_view .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_kanban_quick_add i {
	margin-right: 16px !important;
	margin-left: unset !important;
}

.o_kanban_view .o_kanban_group {
	padding: 0 16px 16px 32px !important;
}

.o_kanban_view .o_kanban_record::after {
	width: 7px !important;
}

/* ---- rainbow meesage -------*/
.o_reward .o_reward_msg_container .o_reward_msg :first-child, .o_reward .o_reward_msg_container .o_reward_msg_content {
	text-align: right !important;
}


/* ----- Advanced code editor ----------- */
/*div.ace_scroller div.ace_content,*/ .o_ace_view_editor .ace_editor .ace_scroller .ace_content .ace_line > span {
	font-family: monospace !important;
}

/* fix phone & mobile direction */
span[name="phone"], span[name="mobile"], input[name="phone"], input[name="mobile"] {
	    direction: ltr;
    	font-family: monospace;
    	letter-spacing: 2px;
    /*	font-weight: bold; */
    	font-size: 110%;
    /*	line-height: 0; */
    	vertical-align: middle;
}
/* ---> end */
.o_kanban_view .o_kanban_record .oe_kanban_details ul {
	padding-right: 0;
	padding-left: unset;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_page {
	margin-right: 25%;
	margin-left: unset;
}
/*--------------------------------------------------------------------------------------*/
.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_page .o_planner_notebook_container .o_planner_notebook > li {
    padding: 10px 55px 5px 10px !important;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_page .o_planner_notebook_container .o_planner_notebook > li.row span {
	right: -50px;
	left: unset;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_page .o_planner_notebook_container .o_planner_notebook .o_planner_notebook_line_separator {
    right: 42px;
	left: unset;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_page .o_planner_notebook_container .o_planner_notebook > li span {
	right: 9px;
	left: unset;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_page .o_planner_notebook_container .o_planner_notebook .o_planner_notebook_header a {
	right: unset;
	left: 13px;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_page .o_planner_notebook_container .o_planner_notebook .o_planner_notebook_header select {
    font-size: normal !important;
    padding: 0px !important;
    width: 100% !important;
}
.o_calendar_container .o_calendar_sidebar_container .o_calendar_sidebar_toggler {
	left: 10px !important;
	right: auto !important;
}
/*--------------------------------------------------------------------------------------*/
.o_planner_dialog > .modal-dialog > .modal-content > .modal-header > .modal-title > .o_page_name {
    width: 75% !important;
    text-align: right;
}

.o_chat_window .o_chat_composer .o_composer .o_chatter_composer_tools {
	left: 0px !important;
	right: auto !important;
}

.o_form_view .o_group .o_td_label + td {
    padding: 2px 8px 2px 0px !important;
}

.o_kanban_view .o_kanban_group.o_column_folded {
	margin-left: 2px !important;
}

.o_web_settings_dashboard .o_web_settings_dashboard_col .o_web_settings_dashboard_pills > a {
	padding: 6px;
}

.oe_view_nocontent .oe_view_nocontent_create::before {
	margin-right: -70px;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.oe_view_nocontent > p {
    padding-right: 78px !important;
}

.o_kanban_view .o_kanban_group.o_column_folded .o_kanban_header_title .o_column_title {
	top: 105px !important;
}

.o_control_panel > .breadcrumb, .o_control_panel > .o_cp_left {
	width: 40%;
}

.o_control_panel > .o_cp_searchview, .o_control_panel > .o_cp_right {
	width: 60%;
}

.o_form_view .o_field_translate{
	margin-right: -15px !important;
}

.o_form_view .o_address_format .o_address_city, .o_form_view .o_address_format .o_address_state {
	margin-right: unset !important;
	margin-left: 2%;
}

.o_field_widget .o_input_dropdown > input {
    padding-left: 15px;
	padding-right: 5px !important; /* was unset */
}
/* ------ 18/10/2018 ---------*/
.o_form_view .o_group :not(.o_row) > .o_field_widget .o_input_dropdown, .o_field_widget .o_input_dropdown {
	width: 90% !important;	
}
div.oe_kanban_details > div:nth-child(4) > span, div.oe_kanban_details > div:nth-child(5) > span {
    direction: ltr;
    unicode-bidi: bidi-override;
}
.o_form_view .oe_button_box .oe_stat_button .o_stat_info {
	text-align: right;
}
.o_form_view .o_group.o_label_nowrap .o_form_label {
	/*white-space: unset !important;*/
}
div[name = "edit_alias"] {
	direction: ltr;
}

.fa-envelope-o::before {
    content: "\f003";
    color: #887eb3;
    cursor: pointer;
}
.o_form_view .o_row {
	margin: 0 !important;
}

.o_form_view.o_form_readonly .o_row, .o_form_view.o_form_readonly .o_row > div {
	display: flex !important;
}
input[name="amount"], td > span[name="amount"] {
	width: 50%;
	margin-right: 8px;
}

/* ------ */

.o_search_options .o_filters_menu li.selected > a::before {
	left: unset !important;
	right: 6px;
}

.o_searchview .o_searchview_more, .o_list_view .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier) > .o_field_translate  {
	left: 5px !important;
	right: auto !important;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section{
	border-bottom: 0.15em solid #7c7bad;
	background-color: #7c7bad33;
	padding: 3px 0;
}

.o_searchview {
    padding: 1px 5px 3px 25px !important;
}

.o_searchview .o_searchview_facet {
    margin: 1px 0px 0 5px !important;
}

.o_control_panel > .o_cp_right > .o_cp_pager .o_pager_counter {
    margin-left: 5px !important;
    margin-right: initial !important;	
}

.rtl .dropdown-menu > li > a {
    padding-right: 25px !important;
    padding-left: 2px !important;
}

.o_search_options .o_closed_menu a::before, .o_search_options .o_open_menu a::before {
    -moz-transform: scale(-0.9999) !important;
    left: auto !important;
    right: 10px !important;
}

.o_web_settings_dashboard .o_web_settings_dashboard_col .o_web_settings_dashboard_invitations .o_web_settings_dashboard_invitation_form {
	text-align: center !important;
}

.row .col-md-12 .oe_activate_debug_mode  {
	float: right !important;

}

.o_web_settings_dashboard .o_web_settings_dashboard_col .o_web_settings_dashboard_compact_subtitle {
    line-height: 1.5em !important;
}

.o_form_view .oe_button_box .oe_stat_button {
	text-align: right !important;
}

.oe_module_desc > h4 {
	margin-right: 0 !important;
	padding: 2px 0;
}

.o_notification_manager, .o_field_widget.o_field_domain.o_inline_mode.o_edit_mode > .o_field_domain_panel {
	right: auto !important;
    left: 5px !important;
}

.o_web_settings_dashboard_progress_title {
	text-align: right !important;
}

.o_web_settings_dashboard .o_web_settings_dashboard_col .o_web_settings_dashboard_planner .o_web_settings_dashboard_planner_progress_text {
	padding-left: 0px !important;
	padding-right: unset !important;
}

.o_notification_manager .o_notification .o_notification_title .o_icon {
	margin: 0 5px !important;
}

.o_base_settings .o_setting_container .settings_tab .tab .icon, .o_mail_thread .o_thread_message .o_thread_message_sidebar{
	margin-right: unset !important;
	margin-left: 10px;
}
.o_settings_container .o_setting_box .o_setting_left_pane, .o_form_view .oe_avatar{
	float: right !important;
}

.o_settings_container .o_setting_box .o_setting_right_pane {
    margin-left: unset !important;
    border-left: initial !important;
    padding-left: unset !important;
	margin-right: 30px;
    border-right: 1px solid #bbbbbb;
    padding-right: 10px;
}
.label {
/*     padding: .05em .6em .05em !important; */
padding: 0.5em !important;
}

.o_base_settings .o_control_panel .o_panel .o_setting_search .searchIcon,  .o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_body .o_field_selector_page > .o_field_selector_item .o_field_selector_relation_icon {
	left: 5px !important;
	right: auto !important;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_header .o_field_selector_popover_option.o_field_selector_close, .o_chat_window ,.o_in_appswitcher {
	right: unset !important;
	left: 0 !important;
}
/* here --------------------*/
.o_field_widget.o_field_radio .o_radio_item > input {
	margin: 0 5px !important;
}
.o_channel_name  .mr8 , .mr4{
	margin-right: unset !important;
	margin-left: 8px;
}

.modal.o_technical_modal .modal-dialog .modal-content .modal-body, .o_chat_composer:not(.o_chat_mini_composer) {
	overflow-x: hidden;
}

.o_chat_composer:not(.o_chat_mini_composer) .o_chatter_avatar {
	right: 5px !important;
	left: auto !important;	
}
.o_chat_composer:not(.o_chat_mini_composer).o_chat_inline_composer .o_composer {
	width: 95%;
	float: left;
	border-right-width: 1px !important;
}

.o_chat_composer:not(.o_chat_mini_composer).o_chat_inline_composer .o_chatter_composer_tools{
	border-right: 1px solid #e5e5e5;
	border-left: unset !important;
}

.o_chat_composer:not(.o_chat_mini_composer).o_chat_inline_composer .o_composer_button_send {
	border-radius: 3px 0 0 3px !important;
}

.o_form_view .oe_avatar + .oe_title {
	padding-left: unset !important;
	margin-left: unset !important;
	padding-right: 95px;
	margin-right: 5px;
}
div.oe_title {
	float: unset !important;
} 

.o_list_view .o_column_sortable {
	position: unset !important;
}

.o_chat_composer .o_composer .o_composer_button_full_composer {
	left: 0 !important;
	right: auto !important;
}

.o_followers .o_followers_title_box .o_followers_list .o_partner .o_remove_follower {
    right: auto !important;    
    left: 5px !important;
}

.modal.o_technical_modal .modal-content .modal-body .o_modal_header .o_pager {
	float: left !important;
}

.o_field_selector.o_edit_mode > .o_field_selector_popover .o_field_selector_popover_body .o_field_selector_page > .o_field_selector_item {
	padding: 5px 0.4em 5px 0.4em !important;
}

.o_form_view .o_group .o_field_widget{
	width: 95%;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_menu > li > a {
	padding-left: unset !important;
	padding-right: 18px;
}

.o_planner_dialog > .modal-dialog > .modal-content > .modal-body > .o_planner_menu > h4 > i.fa {
    margin-left: 10px;
    padding-right:  unset !important;
}

.o_form_view.o_form_editable .oe_title {
    max-width: 520px !important; /* 650 */
}

.o_form_view .o_form_sheet_bg > .o_form_sheet {
	max-width: 960px !important;
}

.o_form_view .o_group.o_inner_group {
	/*width: 80% !important;*/
}

.o_form_view .o_form_label {
	margin: 5px !important;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label {
	padding: 0 15px 0 0 !important;
}

.o_form_view .o_group .o_field_widget > .btn {
	z-index: 2;
	padding: 0 5px !important; 
}

/*###################### formating tags experimental Start ##############*/
.o_kanban_view .o_kanban_record .o_kanban_tags .o_tag span {
	display: inline-flex;
	width: 12px;
	height: 12px;
/* 	margin-right: 8px;
	margin-left: 8px; */
/* 	border-radius: unset !important; */
	margin: 5px 8px 0px 8px;
	max-width: 47px
}

.o_kanban_view .o_kanban_record .o_field_many2manytags .o_tag {
	display: inline-flex !important;
}

.o_kanban_view .o_kanban_record .o_kanban_tags .o_tag {
/* 	margin: 0 10px 0 0; */
	line-height: 24px;
}

.o_kanban_view .o_kanban_record .o_dropdown_kanban {
    left: 2px !important;
    right: auto !important;
}

.badge {
/* 	padding: 3px 7px 3px 5px !important; */
	padding: 5px !important;
	background-color: #337ab7;
	border-radius: 4px; 
	margin: 1px;
 	padding-top: 0;
 	padding-bottom: 0;
}

.o_field_widget.o_field_many2manytags > .badge {
	line-height: 16px;
}

/*##################### formating tags experimental End #################*/

/* -------------------  fix setting bar -------------------------------- */
.o_base_settings .o_setting_container {
	overflow: visible !important;
}
/*
/* fix setting checkboxes
table.o_label_nowrap {
	direction: ltr;
}

table.o_label_nowrap td {
	width: 20px !important;
}
table.o_label_nowrap td.o_td_label {
	border-left: 0px solid #ddd !important;
    border-left-width: 0px !important;
	border-right: 1px solid #ddd !important;
    border-right-width: 1px !important;	
}
*/
/* Website fix */
.oe_product .ribbon-wrapper {
	right: unset;
	left: 0 !important;
}

.oe_product .ribbon {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	left: unset;
	right: -5 !important;
	font: bold 12px 'Droid Arabic Naskh' !important;
	top: 4px !important;
}
/* fix employee */
#o_employee_main {
	margin-top: -60px; /* -2.5 */
}
#o_employee_main .o_field_widget.o_field_many2manytags {
	margin-right: 10px;
}

#o_employee_right {
	margin-right: 2.5%;
	padding-right: 2.5%;
	margin-top: 3%;
	border-right: 1px solid #f0eeee;
	margin-left: unset !important;
	padding-left: unset !important;
	border-left: unset !important;
}
#o_employee_right .o_org_chart_group_down {
    margin-right: 32.2px;
	margin-left: unset !important;
}
#o_employee_right .o_org_chart_group_down::before {
	border-right-width: 0px;
	/*border-right-width: 1px;*/
	right: -11px !important;
	left: auto !important;
}
#o_employee_right .o_org_chart_group_down .o_org_chart_entry::before {
    border-top-width: 0px;
    border-top-width: 1px;
    right: -11px !important;
    left: auto !important;
}
#o_employee_right .o_org_chart_entry .media-body .badge {
	float: left !important;
	margin-left: 5px !important;
}
#o_employee_right .o_org_chart_title {
    color: #fffdfd;
    background-color: #7c7bad;
    padding: 8px 5px;
    text-align: center;
}
#o_employee_right .o_org_chart_group_up::before {
	border-right-width: 1px;
	border-left-width: 0px !important;
	right: 22.5px;
	left: auto;
}
#o_employee_right .o_org_chart_group_up .o_org_chart_entry:last-of-type::before {
	border-width: 0 1px 1px 0;
	right: 22.5px;
	left: auto;
}
#o_employee_right .o_org_chart_group_up + .o_org_chart_entry_self {
    margin-right: 32.2px;
}
#o_employee_right .o_org_chart_group_up + .o_org_chart_entry_self + .o_org_chart_group_down {
	margin-right: 64.4px !important;
}
.popover.left {
    margin-left: calc(1% + 395px) !important;
}
.nav {
	padding-right: 0;
	padding-left: unset;
}

.o_org_chart_popup.popover .popover-title {
	padding-left: 20px;
	padding-right: unset;
}

.o_org_chart_popup.popover .popover-title > div > span {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}

/* Fix add fellowers */
.select2-container-multi .select2-choices .select2-search-choice {
	padding: 3px 18px 3px 5px;
	margin: 3px 5px 3px 0;
}
.select2-container-multi .select2-choices li {
    float: right;
}
.select2-container-multi .select2-search-choice-close {
    right: 3px;
    left: unset;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ buttons bar try to fix ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
 
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button::before, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button::after {
	z-index: 2;
} 
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button::after {

}

.o_form_view .o_form_statusbar > .o_statusbar_status {
	direction: ltr !important;
}

 /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.o_followers .o_followers_title_box .o_followers_list .o_partner .o_edit_subtype {
	left: 18px !important;
	right: auto !important;
}

/* ------------ backend ------------------------------- */
.app-sidebar-panel {
	display: none !important;
}
/*-------------------------------------------------------*/
.pos .pos-sale-ticket {
	direction: rtl;
	text-align: right !important;
}

.oe_website_login_container {
	margin-top: unset !important;
}

/* tooltip settigs */
.tooltip .tooltip-inner {
	direction: rtl !important;
	text-align: right !important;
}

/* graphics modify */
.nvd3 text {
transform: translate(-25px,0);
}

/*---- fix actions bar ----*/
.o_form_view .o_form_statusbar > .o_statusbar_status {
    flex-flow: row wrap;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button::before, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button::after {
    left: -10px;
    right: auto;
    -o-transform: scale(-0.9999);
    -webkit-transform: scale(-0.9999);
    -moz-transform: scale(-0.9999);
    transform: scale(-0.9999);

}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button::before {
    left: -11px;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:first-child {
    padding-left: 22px;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button {
    padding-right: 22px;
}
/*-- 08.11.2019 --*/
/* web.assets_backend.1.css | http://daleel.tech.local:8069/web/content/2727-303592d/web.assets_backend.1.css */

.o_base_settings .o_setting_container .settings {
  /* overflow: auto; */
  overflow: hidden;
}

/* web.assets_backend.1.css | http://daleel.tech.local:8069/web/content/2727-303592d/web.assets_backend.1.css */

header > .main-nav .navbar-systray > .oe_systray > li > a .fa {
  /* font-size: 16px; */
  font-size: 20px;
}

.o_mail_navbar_item .o_notification_counter {
  /* background: #00a09d !important; */
  background: #f70101 !important;
}

.oe_topbar_avatar {
  /* max-height: 16px !important; */
  /* height: 16px !important; */
  /* width: 16px !important; */
  /* margin-top: -4px !important; */
  max-height: 32px !important;
  height: 32px !important;
  width: 32px !important;
  margin-top: -6px !important;
}

.oe_topbar_name {
  top: -10% !important;
  margin-left: 5px;
/*   top: -6px !important; */
}

header > .main-nav .badge {
  /* top: 3px; */
  /* right: 7.5px; */
  top: -1px;
  right: -4px;
}

/* safi.css | http://daleel.tech.local:8069/web_rtl/static/src/css/safi.css */

.badge {
  /* padding: 3px 7px 3px 5px !important; */
  padding: 3px !important;
}

/*-------------------10-11-2019-------------------*/

/* navbar.less.css | http://daleel.tech.local:8069/web_responsive/static/src/less/web.assets_backend/navbar.less.css */

header > .main-nav > .navbar-right.o_menu_systray > ul > li > a {
  max-width: 160px;
  white-space: normal;
}

header > .main-nav .navbar-systray > .oe_user_menu_placeholder > li > a > .oe_topbar_avatar {
  float: left;
}

/*--------------------13-11-2019---------------*/


/* web.assets_backend.1.css | http://daleel.tech.local:8069/web/content/2727-303592d/web.assets_backend.1.css */

.align_upgrade_uninstall {
  right: unset !important;
/*   margin-right: auto !important; */
  left: 5px !important;
  margin-left: 0 !important;
}






